$color-background-main: #050037;
$color-text-main: #fff;
$color-hover-background-main: #32006d;
$color-hover-text-main: #fff;
$color-active-background-main: #a600ff;
$color-active-text-main: #bac5ff;
$color-background-secondary: #002aa7;
$color-text-secondary: #ffffff;
$color-hover-background-secondary: #a14dff;
$color-hover-text-secondary: #ccc;
$color-active-background-secondary: #0055ff;
$color-active-text-secondary: #fff;

$color-transparent-light: rgba(255, 255, 255, 0.75);
$color-transparent-dark: rgba(0, 0, 0, 0.75);


$border-main: 1px solid $color-text-main;
$border-secondary: 1px solid $color-active-background-secondary;

$padding-small: .5rem;
$padding-medium: .75rem;
$padding-large: 1.25rem;
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
$font-family: 'Source Code Pro', monospace;

$font-size-small: .7rem;
$line-height-small: .9rem;
$font-size-medium: .9rem;
$line-height-medium: 1.2rem;
$font-size-large: 2rem;
$line-height-large: 2.2rem;

$knob-size: 3.4rem;
$knob-gap: $padding-medium;

$knob-value-gap: $padding-large;
$point-size: .1rem;


$node-size: 2rem;
$node-gap: 0.1rem;

$checkbox-size: $node-size;
$checkbox-border-width: $node-gap;

$node-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75) inset;

$slider-background: #ccc;

$color-key-white: #fff;
$color-key-white-caption: #ccc;
$color-key-white-hover: #bcbcbc;
$color-key-white-pressed: #737373;
$color-key-white-border-top: #eee;
$color-key-white-border-right: #ddd;
$color-key-white-border-bottom: #aaa;
$color-key-white-border-left: #bbb;

$color-key-black: #000;
$color-key-black-caption: #333;
$color-key-black-hover: #1c1c1c;
$color-key-black-pressed: #535353;
$color-key-black-border-top: #666;
$color-key-black-border-right: #444;
$color-key-black-border-bottom: #222;
$color-key-black-border-left: #333;

$key-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);

$keyboard-min-height: 18vh;

app-synthesizer, .demo-app {

  * {
    font-family: $font-family;
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    box-sizing: border-box;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  button {
    background: $color-background-secondary;
    color: $color-text-secondary;
    border: none;
    cursor: pointer;
    padding: $padding-small $padding-medium;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-medium;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      background: $color-hover-background-secondary;
      color: $color-hover-text-secondary;
    }

    &.active {
      background: $color-active-background-secondary;
      color: $color-active-text-secondary;
    }
  }


  .checkbox {


    position: relative;
    width: $checkbox-size;
    height: $checkbox-size;
    background: $color-background-secondary;
    padding: $checkbox-border-width;
    cursor: pointer;
    display: inline-block;
    border-radius: $checkbox-border-width;
    flex: 0 $checkbox-size;
    z-index: 2;

    .checkbox-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $font-size-large - $padding-medium;
      line-height: 0;
      mix-blend-mode: lighten;
    }

    &:before {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background: $color-background-main;
      border-radius: $checkbox-border-width - 1;
      transition: all .5s, ease;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      text-align: center;
      transform: scale(0, 0);
      transition: all .5s, ease;
    }

    &.checked, &.selected, &.active {
      &:before {
        background: $color-active-background-main;
      }

      &:after {
        font-size: $checkbox-size;
        line-height: $checkbox-size;
        z-index: 1;
        transform: scale(1.75, 1.75);
      }

    }

    &.passive {
      pointer-events: none !important;
    }

    &.checkmark {
      border-radius: 50%;


      &:before {
        content: '';
        border-radius: 50%;
        background: $color-active-background-secondary;
      }

      &:after {
        content: '✔';
        background: none;
        color: $color-active-background-main;
      }

      &.checked, &.selected, &.active {
        &:before {
          background: $color-background-main;
        }
      }
    }
  }


  mat-slider.mat-slider {

    .mat-slider-wrapper {
      top: 1rem;

      .mat-slider-track-wrapper {
        .mat-slider-track-background {
          background: $color-background-secondary;
        }

        .mat-slider-track-fill {
          background: $color-active-background-main;
        }
      }

      .mat-slider-ticks-container {
        .mat-slider-ticks {

        }

      }

      .mat-slider-thumb-container {
        .mat-slider-focus-ring {
          background: $color-active-background-main;
        }

        .mat-slider-thumb {
          background: $color-active-background-main;
        }

        .mat-slider-thumb-label {
          background: $color-text-secondary;

          .mat-slider-thumb-label-text {
            color: $color-active-text-main;
          }
        }
      }
    }

    &.mat-slider-horizontal {

    }
  }
}
