@import "synthesizer.layout";

.synthesizer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $color-background-main;
  color: $color-text-main;

  .synthesizer-options {
    border-top: 1px solid $color-background-secondary;
  }

  .synthesizer-main {
    position: relative;
    flex: 1;

    & > .inside {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      overflow-x: hidden;
      overflow-y: auto;

      .synthesizer-oscs {
        display: flex;
        flex-direction: row;


        .synthesizer-osc {
          border-right: 1px solid $color-background-secondary;
          flex: 1;

          &:last-child {
            border-right: none;
          }
        }
      }

      .synthesizer-lfos {
        display: flex;
        flex-direction: column;
        border-left: 1px solid $color-background-secondary;

        .synthesizer-lfo {
          border-bottom: 1px solid $color-background-secondary;
          flex: 1;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .synthesizer-osc-options {
        flex: 1;


        .synthesizer-osc-option {

        }
      }
    }


  }

  .synthesizer-keyboard {

  }


}
