<div class="synthesizer-osc-controls" *ngIf="osc" [ngClass]="{active:(osc.active)}">
  <div class="synthesizer-osc-control" *ngFor="let effect of osc.effectNodes()">
    <app-synthesizer-control
      [synthesizer]="osc.synthesizer"
      [sourceNode]="effect"
      [title]="effect.nodeType"
      [min]="effect.min"
      [max]="effect.max"
      [step]="effect.step"
      [value]="effect.currentValue || 0"
      [default]="effect.default"
      (onChange)="effect.currentValue = $event; effect.value(effect.currentValue)"
      (onConnectNode)="connectNode($event, effect)"
    ></app-synthesizer-control>
  </div>
</div>
