<div class="synthesizer-osc-controls" *ngIf="osc" [ngClass]="{active:(osc && osc.active)}">
  <div class="synthesizer-osc-control">
    <app-osc-effect-control [synthesizer]="osc.synthesizer" [effect]="osc.effects.attack"></app-osc-effect-control>
    <app-osc-effect-control [synthesizer]="osc.synthesizer" [effect]="osc.effects.knee"></app-osc-effect-control>
    <app-osc-effect-control [synthesizer]="osc.synthesizer" [effect]="osc.effects.ratio"></app-osc-effect-control>
    <app-osc-effect-control [synthesizer]="osc.synthesizer" [effect]="osc.effects.release"></app-osc-effect-control>
    <app-osc-effect-control [synthesizer]="osc.synthesizer" [effect]="osc.effects.delay"></app-osc-effect-control>
  </div>
</div>

