@import "../synthesizer.layout";

.midi-controllers-inputs, .midi-controllers-outputs {
  position: relative;
  width: 100%;
  display: flex;

  .midi-controllers-title {
    position: relative;
    display: inline-block;
    height: 100%;
    background: $color-hover-background-secondary;
    padding: $padding-small $padding-medium;

    h3 {


      margin: 0;

    }

  }


  .midi-controller {
    flex: 1;
    cursor: pointer;
  }
}
