<div *ngIf="synthesizer && synthesizer.midi && synthesizer.midi.outputControllers.length"
     class="midi-controllers">
  <div class="midi-controllers-inputs" *ngIf="synthesizer.midi.inputControllers.length">
    <div class="midi-controllers-title">
      <h3 *ngIf="synthesizer.midi.inputControllers.length">MIDI inputs</h3>
    </div>
    <button class="midi-controller" *ngFor="let controller of synthesizer.midi.inputControllers"
            (click)="controller.toggleActive()"
            [ngClass]="{active:(controller.active)}"
    >
      {{controller.input.name}}<br>
    </button>
  </div>
  <div class="midi-controllers-outputs" *ngIf="synthesizer.midi.outputControllers.length">
    <div class="midi-controllers-title">
      <h3 *ngIf="synthesizer.midi.outputControllers.length">MIDI outputs</h3>
    </div>
    <button class="midi-controller" *ngFor="let controller of synthesizer.midi.outputControllers"
            (click)="controller.toggleActive()"
            [ngClass]="{active:(controller.active)}"
    >
      {{controller.input.name}}<br>
    </button>
  </div>
</div>
