@import "../../synthesizer.layout";

.synthesizer-sequencer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: .5;
  height: 100%;
  min-width: 100px;

  .synthesizer-sequencer-header {
    display: flex;
    cursor: pointer;
    background: $color-background-secondary;

    .checkbox {
      margin: 2px $padding-small 2px 2px;
    }

    h3 {
      flex: 1;
      line-height: $checkbox-size;
      margin: 0;
      padding: 0;
      font-size: $font-size-small;

    }

    .synthesizer-sequencer-connect {
    }
  }

  .synthesizer-sequencer-waveform {
    position: relative;
    flex: 1;
    display: flex;
    padding: $padding-small 0;

    .synthesizer-sequencer-waveform-options {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: .1;
      pointer-events: none;
      transition: all .25s ease;

      &.active {
        opacity: 1;
        pointer-events: all;
        background: $color-transparent-dark;
      }
    }
  }

  .synthesizer-sequencer-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .synthesizer-sequencer-waveforms {
    display: flex;

    button {
      flex: 1;
    }
  }

  &:hover {
    color: $color-hover-text-main;
  }

  &.active {
    opacity: 1;
    color: $color-active-background-main;
  }
}
