<div class="synthesizer-lfo" [ngClass]="{connecting:(lfo.synthesizer.connectNode === lfo), active:(lfo.active)}">
  <div class="synthesizer-lfo-header" (click)="lfo.toggleActive()">
    <div class="checkbox" [ngClass]="{active:(lfo.active)}"></div>
    <h3>LFO <span *ngIf="lfo.id">{{lfo.id}}</span></h3>
  </div>
  <div class="synthesizer-lfo-options">
    <button class="synthesizer-lfo-connect" (click)="connectLfo()"
            [ngClass]="{active:(lfo.synthesizer.connectNode === lfo)}">connect
    </button>
  </div>
</div>
