<div class="synthesizer-lfo" [ngClass]="{connecting:(lfo.synthesizer.connectNode === lfo), active:(lfo.active)}"
>
  <div class="synthesizer-lfo-header">
    <div class="checkbox" [ngClass]="{active:(lfo.active)}" (click)="lfo.toggleActive()"></div>
    <h3 (click)="lfo.toggleActive()">LFO <span *ngIf="lfo.id">{{lfo.id}}</span></h3>
    <button class="synthesizer-lfo-connect" (click)="connect()"
            [ngClass]="{active:(lfo.synthesizer.connectNode === lfo)}">connect
    </button>
    <button class="synthesizer-lfo-remove" (click)="lfo.remove()">X
    </button>
  </div>
  <div class="synthesizer-lfo-waveform"
       (mouseover)="showOptions = true;"
       (mouseout)="showOptions = false;"
  >
    <app-waveform-canvas *ngIf="lfo.currentWaveform" [type]="lfo.currentWaveform"
                         [synthesizer]="lfo.synthesizer"
                         [lfo]="lfo"
                         [amplitude]="lfo.currentAmplitude"
                         [frequency]="lfo.currentRate"
    ></app-waveform-canvas>

  </div>
  <div class="synthesizer-lfo-waveform-options" [ngClass]="{active:(showOptions)}">
    <app-synthesizer-control
      [min]="0"
      [max]="15"
      [step]="1"
      [value]="lfo.currentRate - 1"
      [outputMin]="1"
      [outputMiddle]="8"
      [outputMax]="16"
      [outputValue]="rate"
      [default]="1"
      (onChange)="lfo.rate($event + 1);"
    ></app-synthesizer-control>
    <app-synthesizer-control
      [min]="0"
      [max]="100"
      [step]="1"
      [value]="lfo.currentAmplitude"
      [default]="100"
      (onChange)="lfo.amplitude($event );"
    ></app-synthesizer-control>
  </div>
  <div class="synthesizer-lfo-waveforms">
    <button *ngFor="let waveform of lfo.waveforms"
            [ngClass]="{active:(waveform === lfo.currentWaveform)}"
            (click)="lfo.waveform(waveform)"
    >
      {{waveform}}
    </button>
  </div>
</div>
