<div class="synthesizer-osc" [ngClass]="{active:(osc.active)}">
  <div class="synthesizer-osc-header">
    <div class="checkbox" [ngClass]="{active:(osc.active)}"  (click)="osc.toggleActive()"></div>
    <h3  (click)="osc.toggleActive()">OSC <span *ngIf="osc.id">{{osc.id}}</span></h3>
    <div class="synthesizer-osc-options" *ngIf="osc.ready && osc.effects">
      <app-osc-effect-control  [synthesizer]="osc.synthesizer" [effect]="osc.effects.gain"></app-osc-effect-control>
      <app-osc-effect-control  [synthesizer]="osc.synthesizer" [effect]="osc.effects.pan"></app-osc-effect-control>
    </div>
    <app-waveform-canvas *ngIf="osc.currentWaveform" [type]="osc.currentWaveform"
                         [amplitude]="osc.effects.gain.currentValue * 100"></app-waveform-canvas>
  </div>
  <div class="synthesizer-osc-waveforms">
    <button class="synthesizer-osc-waveform" *ngFor="let waveform of osc.waveforms"
            [ngClass]="{active:(waveform === osc.currentWaveform)}"
            (click)="osc.waveform(waveform)"
    >
      {{waveform}}
    </button>
  </div>
</div>
