@import "../synthesizer.layout";

.synthesizer-display {
  position: relative;
  width: 100%;

  .synthesizer-time {

  }

  .synthesizer-beat {

  }

  .synthesizer-beat-preview {
    width: 100%;
    display: flex;

    span {
      flex: 1;
      text-align: center;
    }

  }

  .synthesizer-beat-line {

  }
}
